			<!-- 캘린더 투표 .. 부가기능 -->
			<div class="col-sm-5 well" style="height:500px;">

				<div class="row">
					<div class="well">
						<h2>VOTE LIST</h2>
						<p>투표를 합시다!!!</p>
						<table class="table table-hover">
							<thead>
								<tr>
									<th style="text-align:center; font-size:18px;">투표이름</th>
									<th style="text-align:center; font-size:18px;">마감시간</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									<td>
										<div style="text-align:left; font-size:16px;">메뉴 정하기</div>
										<div class="row" style="color:gray; text-align:right">&lt;투표완료&gt;</div>
									</td>
									<td>2018.06.05 17:20</td>

								</tr>
								<tr>
									<td>

										<div>
											<div style="text-align:left; font-size:16px;">프로젝트명 멀로할까?</div>
											<div class="row" style="color:gray; text-align: right">&lt;투표완료&gt;</div>
										</div>

									</td>

									<td>2018.06.05 17:20</td>

								</tr>
								<tr>
									<td>
										<div style="text-align:left; font-size:16px;">여행지 투표좀 해주세요!!</div>
										<p class="row" style="color:gray; text-align: right">&lt;미참여&gt;</p>
									</td>
									<td>2018.08.18 18:18</td>

								</tr>
							</tbody>
						</table>
					</div>
					<button class="btn btn-default" type="button">투표 생성하기</button>
				</div>
			</div>
			<!-- end 캘린더 투표 .. 부가기능 -->